.but {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.container-articles {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .container-articles {
    padding: 0;
  }
}
